
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Erişim Reddedildi - 403 Forbidden</title>
  <meta name=viewport content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,400i" /><link rel="stylesheet" href="./style.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
 <link href="~/403forbidden/style.css" rel="stylesheet" />
</head>
<body>
<!-- partial:index.partial.html -->
<div class="wrapper">
<div class="box">
<h1>403</h1>
<p>Üzgünüz, bu sayfayı görüntüleme yetkiniz yoktur!</p>
<p><a href="#" onclick="window.history.back()">Geri gelmek için buraya tıklayın.</a></p>
</div>
</div>
<!-- partial -->
  
</body>
</html>
