
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<h3>Burası kendi oluşturduğumuz view sayfası.</h3>

<table>
    <tr>
        <th>id</th>
        <th>ad</th>
        <th>departman</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Tarık Aydın</td>
        <td>Yazılım</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Ayşe</td>
        <td>Analist</td>
    </tr>
</table>

