@using EntityLayer.Concrete
@using X.PagedList;
@using X.PagedList.Mvc.Core;    
@model IPagedList<Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Kategori Listesi</h1>
<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>Pasif Yap</th>
        <th>Aktif Yap</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryID</td>
            <td>@item.CategoryName</td>
            <td><button data-id="@item.CategoryID" class="btn btn-danger DeleteBtn">Pasif Yap</button></td>
            <td><a href="#" class="btn btn-warning">Aktif Yap</a></td>
            <td><a href="#" class="btn btn-primary">Düzenle</a></td>
        </tr>
    }
</table>
<br />
<a href="/Admin/Category/AddCategory" class="btn btn-primary">Yeni Kategori Ekle</a>
<br /><br />

@Html.PagedListPager((IPagedList)Model, page=> Url.Action("Index",new { page }))

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/writer/assets/js/sweetalert2.all.min.js"></script>
<script>
    $(".DeleteBtn").on("click", function () {
        var blogID = $(this).data('id');
        Swal.fire({
            position: 'center',
            icon: 'question',
            title: 'Seçilen kategori silinecek. <br/> Onaylıyor musunuz?',
            confirmButtonText: 'Sil',
            cancelButtonText: 'İptal',
            showCancelButton: true,
        }).then((result) => {

            if (result.dismiss === Swal.DismissReason.cancel || result.dismiss == Swal.DismissReason.backdrop || result.dismiss == Swal.DismissReason.esc)
                return;

            $.ajax({
                type: 'Get',
                url: '/Admin/Category/CategoryDelete/' + blogID,
                dataType: 'json',
            })
            setTimeout(function(){
                window.location.reload();

            },1000)

        })
    });
</script>